:root {
  /* Colors */

  --Neutral-0: hsl(0, 0%, 100%);
  --Neutral-300: hsl(252, 6%, 83%);
  --Neutral-0-500: hsl(245, 15%, 58%);
  --Neutral-0-700: hsl(245, 19%, 35%);
  --Neutral-900: hsl(247, 45%, 22%);

  --Orange-500: hsl(7, 88%, 67%);
  --Orange-700: hsl(7, 71%, 60%);

  --Gradient-text: linear-gradient(
    to right,
    hsl(7, 86%, 67%),
    hsl(0, 0%, 100%)
  );

  /* Font weight */
  --font-weight-regular-one: 400;
  --font-weight-regular-two: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inconsolata", serif;
  font-size: 20px;
  color: var(--Neutral-0);
  min-height: 100vh;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  background-image: url(./assets/images/background-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.main-container {
  margin: 1rem;
  max-width: 100%;
  min-height: 100vh;
}

.logo {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.2rem;
  margin-top: 1rem;
}

.heading-content {
  padding: 0.5rem;
}

h1 {
  font-size: 1.4rem;
  padding-block: 1.1rem;
}

.heading-content > p {
  text-align: center;
  color: var(--Neutral-300);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

form > label {
  margin-top: 1rem;
  font-weight: var(--font-weight-regular-one);
}

.upload-img {
  height: 45px;
  width: 45px;
  margin: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--Neutral-0-700);
  position: absolute;
  left: 48%;
  top: 35%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.file-upload {
  height: 130px;
  width: 100%;

  margin-block: 0.8rem;
  border-radius: 20px;
  border: 1px dashed var(--Neutral-0-500);
  background-color: var(--Neutral-900);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-upload input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.drag-drop {
  color: var(--Neutral-0-500);
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  white-space: nowrap;
}

.upload-paragraph {
  display: flex;
  align-items: center;
}

.upload-paragraph > p {
  font-size: 0.6rem;
  padding-left: 0.2rem;
  color: var(--Neutral-0-500);
}

.form-details {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
}

.form-details > input {
  height: 50px;
  border-radius: 10px;
  background-color: var(--Neutral-900);
  border: 1px solid var(--Neutral-0-500);
  margin-block: 0.7rem;
  padding-left: 0.5rem;
  font-size: 0.8rem;
  font-family: inherit;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  color: var(--Neutral-0);
}

.form-details > label {
  margin-top: 0.5rem;
}

button {
  width: 100%;
  padding: 0.9rem;
  background-color: var(--Orange-500);
  margin-bottom: 2rem;
  border-radius: 10px;
  border: 1px solid transparent;
  color: var(--Neutral-900);
  font-family: inherit;
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
}

/* Focus states */

.form-details > input:focus {
  border-style: double;
}

.file-upload input[type="file"]:hover {
  border-style: double;
}

button:focus {
  border: 1px solid var(--Neutral-0);
  border-style: double;
}

/* Focus states  end */

/* Error state */
.upload-paragraph-error {
  display: none;
  align-items: center;
}

.upload-paragraph-error > p {
  font-size: 0.6rem;
  padding-left: 0.2rem;
  color: var(--Orange-700);
}

.email-error {
  display: none;
  align-items: center;
}

.email-error > p {
  font-size: 0.6rem;
  padding-left: 0.2rem;
  color: var(--Orange-700);
}

/* Error state end */

/* Ticket styling */
.ticket-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ticket {
  position: relative;
}

.ticket-outline {
  position: relative;
  height: auto;
}

.ticket-content {
  position: absolute;
  top: 7%;
  left: 5%;
  display: flex;
  flex-direction: column;
}

.ticket-header {
  margin-block: 2rem;
  margin-inline: 1rem;
}

.ticket-header > h1,
p {
  text-align: center;
}

.ticket > img {
  height: 160px;
}

#ticket-email {
  color: var(--Orange-700);
}

#ticket-name {
  background: var(--Gradient-text);
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

.conference-details {
  display: flex;
  align-items: center;
}

.conference-details > img {
  height: 30px;
  margin-bottom: 0.3rem;
}

.details {
  padding-left: 0.5rem;
}

.details > h2 {
  font-size: 1.2rem;
  font-weight: var(--font-weight-regular-two);
}

.details > p {
  font-size: 0.8rem;
  margin-top: 0.4rem;
  color: var(--Neutral-0-500);
}

.person-details {
  display: flex;
  align-items: center;
  margin-top: 1.7rem;
}

.person-details > img {
  height: 50px;
  border-radius: 6px;
}

.name-email {
  padding-left: 0.5rem;
}

.email-container {
  display: flex;
  font-size: 0.8rem;
}

h3 {
  font-size: 1rem;
}

.email-container > p {
  padding-top: 0.2rem;
  font-size: 0.8rem;
}

.name-email > img {
  height: 13px;
}

/* Ticket styling end */

@media (min-width: 700px) {
  body {
    background-image: url(./assets/images/background-desktop.png);
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .main-container:not([style*="display: none"]) {
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .heading-content > p {
    font-size: 1.1rem;
  }

  form {
    width: 550px;
  }

  button {
    width: 550px;
  }

  .ticket-container {
    max-width: 70%;
  }

  .ticket-header > p {
    padding-inline: 4rem;
    margin-bottom: 2.5rem;
  }

  .ticket > img {
    height: 200px;
  }

  .person-details {
    padding-top: 1.5rem;
  }
}
